<ion-header>

  <ion-navbar color="secondary">
    <ion-title>
        <img src="./assets/images/d.png" class="logo"><button ion-button color="secondary" float-right (click)="logOut()"><ion-icon name="md-log-out"></ion-icon></button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div style="padding:5%">
  Welcome <b>{{user.Name}}</b>
  <span float-right>{{cdc | date:'yyyy-MM-dd'}}&nbsp;&nbsp;</span>
</div>
<ion-grid align="center">
<ion-item>
  <ion-label>Meeting Type</ion-label>
  <ion-select #newSelect [(ngModel)]="mtype" interface="action-sheet" cancelText="" (ionChange)="onChange(mtype)">
    <ion-option value="planned">Planned</ion-option>
    <ion-option value="unplanned">Unplanned</ion-option>
  </ion-select>
</ion-item>
<br>

<div *ngIf="plan==1">
  <ion-row>
    <ion-item>
    <ion-label>Agenda</ion-label>
    <ion-select required interface="action-sheet" cancelText="" #agenda required (ionChange)="addAgenda(agenda.value)">
      <ion-option value="Order Booking">Order Booking</ion-option>
      <ion-option value="Collections">Collections</ion-option>
      <ion-option value="Business Development">Business Development</ion-option>
    </ion-select>
    </ion-item>
  </ion-row>
<br>
<ion-row>
<table *ngIf="data[0].tec_dailyactivity3activityid!=null">
  <tr align="center" color="secondary">
    <th>Completed</th>
    <th>Dealer</th>
    <th>Navigate</th>
  </tr>
  <tr align="left" *ngFor="let d of data">
    <td align="center"><input type="radio" name="radiogroup" disabled="{{getS(d) ? 'true' : ''}}" (change)="set(d)"></td>
    <td class="{{getS(d) ? 'comp' : ''}}">{{d.tec_dailyactivity3regardingobjectid.value.name}}</td>
    <td align="center"><a href="http://maps.google.com/maps?daddr={{d.account4tec_latitude.value}},{{d.account4tec_longitude.value}}"><ion-icon name="navigate"></ion-icon></a></td>
  </tr>
</table>
</ion-row>
<ion-row>
    <ion-item>
        <ion-label color="secondary" floating>Description</ion-label>
        <ion-textarea required (change)="desc = $event.target.value"></ion-textarea>
      </ion-item>
</ion-row>
<br>
<button ion-button round color="secondary">Submit</button>
<!--<button ion-button round color="secondary" (click)="Send()">Submit</button>-->
</div>

<div *ngIf="plan==2">
    <ion-row>
      <ion-item>
      <ion-label>Agenda</ion-label>
      <ion-select required interface="action-sheet" cancelText="" #agenda required (ionChange)="addAgenda(agenda.value)">
        <ion-option value="Order Booking">Order Booking</ion-option>
        <ion-option value="Collections">Collections</ion-option>
        <ion-option value="Business Development">Business Development</ion-option>
      </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
        <ion-item>
          <ion-label color="secondary" floating>Subject</ion-label>
          <ion-textarea required (change)="sub = $event.target.value"></ion-textarea>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label color="secondary" floating>Description</ion-label>
          <ion-textarea required (change)="desc = $event.target.value"></ion-textarea>
        </ion-item>
      </ion-row>
    <br>
    <button ion-button round color="secondary">Submit</button>
    <!--<button ion-button round color="secondary" (click)="Send()">Submit</button>-->
</div>

</ion-grid>
</ion-content>