.ios, .md {
 
  page-maps {

    .scroll {
      height: 100%
    }

    #map {
      width: 100%;
      height: 100%;
    }

  }

}
page-maps{
  .logo{
    width: 22%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
}